@model Student
@{
    //Layout = "_Layout2";
    ViewBag.Title="Student Edit Form2";

}


    <div class="container">
        <div class="row g-0" style="min-height: 75vh;">
     <form  method="post" asp-action="editFormThree" asp-controller="student" class="m-auto mt-4" enctype="multipart/form-data" style="min-width: 50rem; margin: 20 auto;max-width: 400px; padding: 10px; border-radius: 10px;border:1px solid rgba(0,0,0,0.2);">
                <input asp-for="Id" Placeholder="@Model.Id" value="@Model.Id" type="hidden" />
        

                <input asp-for="Name" placeholder="@Model.Name" type="hidden" value="@Model.Name"/>
               

                <input asp-for="Age" placeholder="@Model.Age" type="hidden" value="@Model.Age"/>
                

                <select asp-for="DeptId" asp-items="ViewBag.depts" hidden >
                    </select>
                

                 <label asp-for="Email" ></label>
                <input asp-for="@Model.Email" placeholder="@Model.Email"/>
                <span asp-validation-for="Email"></span>
                <br/><br/>

                <label asp-for="UserName"></label>
                <input asp-for="@Model.UserName" placeholder="@Model.UserName"/>
                <span asp-validation-for="UserName"></span>
                <br/><br/>

                <label asp-for="Password"></label>
                <input asp-for="@Model.Password" placeholder="@Model.Password"/>
                <span asp-validation-for="Password"></span>

                <br/><br/>

                <label asp-for="CPassword"></label>
                <input asp-for="@Model.CPassword" />
                <span asp-validation-for="CPassword"></span>
                <br/><br/>

            <input type="submit" value="Next>>" class="btn btn-success mt-2 mb-2" style="margin: 20px 0px ;"/>
    </form>
    </div>
    </div>
            @section scripts{
                <partial name="_ValidationScriptsPartial"/>
            }
